astropy==7.0.1
astropy-iers-data==0.2025.3.10.0.29.26
asttokens==3.0.0
beautifulsoup4==4.13.3
Brotli==1.1.0
Cartopy==0.24.1
certifi==2025.1.31
cftime==1.6.4.post1
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
digital_rf==2.6.11
eclipse_calc @ git+https://github.com/HamSCI/eclipse_calculator.git@c399315e60690c6ac5aae9bc5318a24bc6e6f198
executing==2.2.0
ffmpeg-python==0.2.0
fonttools==4.56.0
ftfy==6.3.1
future==1.0.0
gallery_dl==1.29.1
geographiclib==2.0
h5py==3.13.0
harc_plot @ git+https://github.com/HamSCI/harc_plot.git@97d654d765224ce1d1432836552a551e97450f74
humanize==4.12.1
idna==3.10
ipdb==0.13.13
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
kiwisolver==1.4.8
library==3.0.68
lxml==5.3.1
madrigalWeb==3.3.2
Markdown==3.7
markdown-it-py==3.0.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mutagen==1.47.0
natsort==8.4.0
netCDF4==1.7.2
numpy==2.2.3
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
pluggy==1.5.0
praw==7.8.1
prawcore==2.4.0
prompt_toolkit==3.0.50
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
pycryptodomex==3.21.0
pyerfa==2.0.1.5
Pygments==2.19.1
pyparsing==3.2.1
pyproj==3.7.1
pyshp==2.3.1
pysubs2==1.8.0
python-dateutil==2.9.0.post0
python-mpv-jsonipc==1.2.0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
scipy==1.15.2
screeninfo==0.8.1
shapely==2.0.7
six==1.17.0
soupsieve==2.6
sqlite-fts4==1.0.3
sqlite-utils==3.38
stack-data==0.6.3
tabulate==0.9.0
tinytag==2.1.0
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
update-checker==0.18.0
urllib3==2.3.0
watchdog==6.0.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
xarray==2025.1.2
yt-dlp==2025.2.19
